<%- include("reusables/header"); -%>
<body>
    <div class="container">
        <h1>Sports Trivia</h1>
        <p>Test you knowlege about the sports you love</p>
    </div>

    <div class="container">
        <p>QUESTIONS GO HERE</p>
    </div>


</body>




<%- include ("reusables/search"); -%>
<%- include("reusables/footer"); -%>