<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CARS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/styles.css">
</head>

<body>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Footer Footer Footer</p>
  </div>
</body>
</html>
