<body>
  <div class="footer-padding">
  <div class="footer">
    <p><a href="https://github.com/rubenreyy" target="_blank">
      <%- include("githubLogo"); -%></a>
      <a href="https://github.com/dabun01" target="_blank">
        <%- include("githubLogo"); -%></a>
      <a href="https://github.com/Cnasty07" target="_blank">
        <%- include("githubLogo"); -%></a>
    </p>
  </div>
</div>
</body>
</html>
